.footer-section
  background-image: url(/assets/img/bg2.jpg)
  background-size: cover
  background-position: center center
  width: 100%
  min-height: 150px
  display: -webkit-flex
  display: -ms-flex
  display: flex
  justify-content: center
  align-items: center
  position: relative
  background-attachment: fixed
  .overlay
    background-image: url(/assets/img/pattern.png) !important
    background-repeat: repeat
    height: 100%
    left: 0
    position: absolute
    top: 0
    width: 100%
    opacity: .5
  .footer-wrapper
    position: relative
    font-family: 'Source Sans Pro', sans-serif
    display: -webkit-flex
    display: -ms-flex
    display: flex
    justify-content: space-around
    width: 100%
    align-items: flex-start
    .info
      span
        display: -webkit-flex
        display: -ms-flex
        display: flex
        align-items: flex-start
        color: white
        p
          font-size: 18px
          margin: 0
          font-weight: normal
        i
          font-size: 30px
    .social
      h1
        font-size: 35px
        color: #fff
        margin: 0
      .social-icon
        display: -webkit-flex
        display: -ms-flex
        display: flex
        width: 140px
        justify-content: space-between
        i
          color: #fff
          font-size: 40px
