
.numbers-section
  width: 100%
  display: -webkit-flex
  display: -ms-flex
  display: flex
  align-items: center
  justify-content: center
  background-image: url(/assets/img/bg.jpg)
  background-blend-mode: multiply
  background-color: rgba(45, 45, 45, 0.81)
  background-size: cover
  background-position: center center
  width: 100%
  background-attachment: fixed
  filter: grayscale(1) contrast(1.1)
  .overlay
    background-image: url(/assets/img/pattern.png) !important
    background-repeat: repeat
    height: 100%
    left: 0
    position: absolute
    top: 0
    width: 100%
    opacity: 0
  .numbers-wrapper
    position: relative
    display: -webkit-flex
    display: -ms-flex
    display: flex
    width: 1000px
    justify-content: space-around
    font-family: 'PT Sans', sans-serif
    padding: 10rem 0
    box-sizing: border-box
    &.active-number
      color: #fff
      .numbers-content
        h2,h4
          color: #fff
    .numbers-content
      display: -webkit-flex
      display: -ms-flex
      display: flex
      flex-direction: column
      justify-content: center
      opacity: 0
      transition: all ease-in-out .8s
      &.show
        opacity: 1
      h2
        font-size: 55px
      h4
        font-size: 25px
        font-weight: normal
        text-transform: capitalize
        margin: 3px
        color: rgba(black, .8)
  @media (max-width: 650px )
    .numbers-wrapper
      width: 100%
      .numbers-content
        h2
          font-size: 45px
        h4
          font-size: 20px

  @media (max-width: 530px )
    .numbers-wrapper
      flex-wrap: wrap
      width: 100%
      padding: 4rem 0
      .numbers-content
        width: 50%
        margin-bottom: 15px
        margin-top: 15px
        h2
          font-size: 40px
        h4
          font-size: 18px
