section#clients-section.clients-section
  .clients-wrapper
    h1 —Clientes—
    h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
  .client-content
    .slide-wrapper
      .client
        .border
        img(src="/assets/img/clients/client1.png" )
      .client
        .border
        img(src="/assets/img/clients/client2.png" )
      .client
        .border
        img(src="/assets/img/clients/client3.png" width="150" )
      .client
        .border
        img(src="/assets/img/clients/client4.png" width="150")
      .client
        .border
        img(src="/assets/img/clients/client5.png" width="150")
      .client
        .border
        img(src="/assets/img/clients/client6.png" width="120")
