section.clients-section
  .clients-wrapper
    h1 —Clientes—
    h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
  .client-content
    i.ion-chevron-left
    .slide-wrapper
      .client
        img(src="/assets/img/team/team-img1.jpg")
        h2 Jessica Garcia Romero
        h4 Empresa #1  
      .client
        img(src="/assets/img/team/team-img3.jpg")
        h2 Jessica Garcia Romero
        h4 Empresa #1  
      .client
        img(src="/assets/img/team/team-img4.jpg")
        h2 Jessica Garcia Romero
        h4 Empresa #1  
    i.ion-chevron-right
