section#contact-section.contact-section
  .contact-wrapper
    .contact-wrapper
      h1 —Contacto—
      h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. 
    .form-wrapper  
      form
        .input
          input(type="text" placeholder="Nombres")
        .input  
          input(type="text" placeholder="Apellidos")
        .input  
          input(type="text" placeholder="Empresa")
        .input  
          input(type="text" placeholder="Correo Electrónico")
        .input
          textarea(placeholder="Mensaje")
        button.btn-enviar Enviar
