footer.footer-section
  .overlay
  .footer-wrapper
    .social
      h1 Redes Sociales
      .social-icon    
        i.ion-social-facebook-outline
        i.ion-social-youtube-outline
        i.ion-social-twitter-outline
    
    .social
      h1 Informacion
      .info 
        span
          i.ion-ios-telephone-outline
          p 0992348
        span
          i.ion-ios-location-outline
          p Jr prueba 1200 Mz H
        span
          i.ion-ios-email-outline
          p  empresa@hotmail.com
