footer#footer-section.footer-section
  .footer-wrapper
    .social
      h1 Redes Sociales
      small Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
      .social-icon    
        i.ion-social-facebook
        i.ion-social-youtube
        i.ion-social-twitter
    .social
      h1 Información
      .info 
        span
          i.ion-ios-telephone
          p 099234809
        span
          i.ion-ios-location
          p Jr prueba 1200 Mz H
        span
          i.ion-ios-email
          p  empresa@hotmail.com
