nav.bar-nav.hide
  i#close-menu.ion-android-close
  .menu-items
    li 
      a(href="#header-section") Inicio
    li 
      a(href="#about-section") nosotros
    li 
      a(href="#team-section") equipo  
    li 
      a(href="#services-section") servicios
    li 
      a(href="#clients-section") clientes
    li 
      a(href="#contact-section") contacto
section#header-section.header-section 
  .overlay
  .bar-top
    i#show-menu.ion-grid
    .logo LOGO  
  .slogan
    h4 Te Brindamos
    h1 <span>—</span>La Mejor Experiencia<span>—</span>
    .btn-contact 
      span 
        a(href="#contact-section") contactanos
