.modal
  .modal-wrapper  
    .close-btn
      i.icon.icon-cancel.close-modal
    .modal-services#1-m 
      .service-img(style="background-image: url(assets/img/services/about-img6.jpg);")
      .service-info
        h3.title Servicios #1
        p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  
    .modal-services#2-m 
      .service-img(style="background-image: url(assets/img/services/about-img2.jpg);")
      .service-info
        h3.title Servicios #2
        p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  
    .modal-services#3-m
      .service-img(style="background-image: url(assets/img/services/about-img3.jpg);")
      .service-info
        h3.title Servicios #3
        p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  
    .modal-services#4-m  
      .service-img(style="background-image: url(assets/img/services/about-img4.jpg);")
      .service-info
        h3.title Servicios #4
        p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  
    .modal-services#5-m  
      .service-img(style="background-image: url(assets/img/services/about-img5.jpg);")
      .service-info
        h3.title Servicios #5
        p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  
    .modal-services#6-m 
      .service-img(style="background-image: url(assets/img/services/about-img.jpg);")
      .service-info
        h3.title Servicios #6
        p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  
      
    
    .modal-services#7-m 
      .service-img(style="background-image: url(assets/img/team/team-img1.jpg);")
      .service-info
        h2.title-team Jessica Garcia Romero
        small Gerente
        p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        .social
          i.icon.icon-facebook
          i.icon.icon-instagram
          i.icon.icon-twitter
      
    .modal-services#8-m 
      .service-img(style="background-image: url(assets/img/team/team-img2.jpg);")
      .service-info
        h2.title-team Jessica Garcia Romero
        small Gerente
        p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        .social
          i.icon.icon-facebook
          i.icon.icon-instagram
          i.icon.icon-twitter
      
    .modal-services#9-m
      .service-img(style="background-image: url(assets/img/team/team-img3.jpg);")
      .service-info
        h2.title-team Jessica Garcia Romero
        small Gerente
        p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        .social
          i.icon.icon-facebook
          i.icon.icon-instagram
          i.icon.icon-twitter
      
    .modal-services#10-m  
      .service-img(style="background-image: url(assets/img/team/team-img4.jpg);")
      .service-info
        h2.title-team Jessica Garcia Romero
        small Gerente
        p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        .social
          i.icon.icon-facebook
          i.icon.icon-instagram
          i.icon.icon-twitter
      
    .modal-services#11-m  
      .service-img(style="background-image: url(assets/img/team/team-img1.jpg);")
      .service-info
        h2.title-team Jessica Garcia Romero
        small Gerente
        p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        .social
          i.icon.icon-facebook
          i.icon.icon-instagram
          i.icon.icon-twitter
      
    .modal-services#12-m 
      .service-img(style="background-image: url(assets/img/team/team-img2.jpg);")
      .service-info
        h2.title-team Jessica Garcia Romero
        small Gerente
        p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        .social
          i.icon.icon-facebook
          i.icon.icon-instagram
          i.icon.icon-twitter
      
        

    



section#services-section.services-section
  .services
    .image-service#1
      .service-content
        h3 Servicios #1
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
        span.open-modal Leer más 
      img( src="assets/img/services/about-img6.jpg")
         
    .image-service#2
      .service-content
        h3 Servicios #2 
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
        span.open-modal Leer más 
      img( src="assets/img/services/about-img2.jpg")
            
    .image-service#3
      .service-content
        h3 Servicios #3 
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
        span.open-modal Leer más 
      img( src="assets/img/services/about-img3.jpg")
            
    .image-service#4
      .service-content
        h3 Servicios #4 
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
        span.open-modal Leer más 
      img( src="assets/img/services/about-img4.jpg")
         
    .image-service#5
      .service-content
        h3 Servicios #5 
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
        span.open-modal Leer más 
      img( src="assets/img/services/about-img5.jpg")
            
    .image-service#6
      .service-content
        h3 Servicios #6 
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
        span.open-modal Leer más 
      img( src="assets/img/services/about-img.jpg")
        
       
