.services-section
  .services
    .image-service
      .service-content
        h3 Servicios
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
        span 
          b Leer más 
          i.ion-ios-arrow-forward
      img( src="/assets/img/about-img6.jpg")
         
    .image-service
      .service-content
        h3 Servicios
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
        span 
          b Leer más 
          i.ion-ios-arrow-forward
      img( src="/assets/img/about-img2.jpg")
            
    .image-service
      .service-content
        h3 Servicios
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
        span 
          b Leer más 
          i.ion-ios-arrow-forward
      img( src="/assets/img/about-img3.jpg")
            
    .image-service
      .service-content
        h3 Servicios
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
        span 
          b Leer más 
          i.ion-ios-arrow-forward
      img( src="/assets/img/about-img4.jpg")
         
    .image-service
      .service-content
        h3 Servicios
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
        span 
          b Leer más 
          i.ion-ios-arrow-forward
      img( src="/assets/img/about-img5.jpg")
            
    .image-service
      .service-content
        h3 Servicios
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
        span 
          b Leer más 
          i.ion-ios-arrow-forward
      img( src="/assets/img/about-img.jpg")
        
       
