
section#team-section.team-section
  .team-wrapper
    h1 —Equipo—
    h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
    .team-content
      .team#7
        img(src="/assets/img/team/team-img1.jpg")
        h2 Jessica Garcia Romero
        .sub-name
          h4 Gerente 
          i.ion-plus.open-modal 
      .team#8
        img(src="/assets/img/team/team-img2.jpg")
        h2 Jose Antonio Perez
        .sub-name
          h4 Sub-Gerente 
          i.ion-plus.open-modal   
      .team#9 
        img(src="/assets/img/team/team-img3.jpg")
        h2 Jose Antonio Perez
        .sub-name
          h4 Sub-Gerente 
          i.ion-plus.open-modal  
      .team#10
        img(src="/assets/img/team/team-img4.jpg")
        h2 Jessica Garcia Romero
        .sub-name
          h4 Gerente  
          i.ion-plus.open-modal
      .team#11 
        img(src="/assets/img/team/team-img1.jpg")
        h2 Jessica Garcia Romero
        .sub-name
          h4 Gerente 
          i.ion-plus.open-modal 
      .team#12 
        img(src="/assets/img/team/team-img2.jpg")
        h2 Jose Antonio Perez
        .sub-name
          h4 Sub-Gerente 
          i.ion-plus.open-modal 
          
