section.team-section
  .team-wrapper
    h1 —Equipo—
    h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
    .team-content
      .team
        .bio-btn  
        img(src="/assets/img/team/team-img1.jpg")
        h2 Jessica Garcia Romero
        h4 Gerente  
      .team
        .bio-btn  
        img(src="/assets/img/team/team-img2.jpg")
        h2 Jose Antonio Perez
        h4 Sub-Gerente    
      .team
        .bio-btn  
        img(src="/assets/img/team/team-img3.jpg")
        h2 Jose Antonio Perez
        h4 Sub-Gerente   
      .team
        .bio-btn  
        img(src="/assets/img/team/team-img4.jpg")
        h2 Jessica Garcia Romero
        h4 Gerente  
      .team
        .bio-btn  
        img(src="/assets/img/team/team-img1.jpg")
        h2 Jessica Garcia Romero
        h4 Gerente  
      .team
        .bio-btn  
        img(src="/assets/img/team/team-img2.jpg")
        h2 Jose Antonio Perez
        h4 Sub-Gerente  
