@import "0-tools/reset";
@import "0-tools/vars";
@import "1-modules/header";
@import "1-modules/about";
@import "1-modules/services";
@import "1-modules/numbers";
@import "1-modules/team";
@import "1-modules/map";
@import "1-modules/clients";
@import "1-modules/footer";
@import "1-modules/contact";

body {
    background: white;
    transition: all ease-in-out .4s;
    position: relative;
    -webkit-font-smoothing: antialiased;
}
