/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  background-color: black;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 {
  margin-bottom: 1em; }

p {
  margin: 1em 0; }

a {
  color: #00a; }

a:hover {
  color: #000; }

a:visited {
  color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em; }

.posts li {
  line-height: 1.75em; }

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%; }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em; }

.header a {
  font-weight: bold;
  text-decoration: none; }

.title {
  display: inline-block;
  margin-bottom: 2em; }

.title a {
  color: #a00; }

.title a:hover {
  color: #000; }

.header a.extra {
  color: #aaa;
  margin-left: 1em; }

.header a.extra:hover {
  color: #000; }

.meta {
  color: #aaa; }

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden; }

.footer .contact {
  float: left;
  margin-right: 3em; }

.footer .contact a {
  color: #8085C1; }

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right; }

.footer .rss img {
  border: 0; }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em; }

.post ul, .post ol {
  margin-left: 1.35em; }

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em; }

.post pre code {
  border: none; }

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF; }

.post pre.terminal code {
  background-color: #333; }

body.active-number, body.active-map {
  background-color: #121212; }

.bar-nav {
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  width: 100%;
  height: 100vh;
  display: -ms-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  z-index: 10; }
  .bar-nav.hide {
    top: -100%; }
  .bar-nav i {
    color: black;
    font-size: 40px;
    padding: 2px 6px;
    -ms-flex-item-align: center;
        align-self: center;
    cursor: pointer; }
  .bar-nav .menu-items {
    height: 100%;
    display: -ms-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-family: 'Source Sans Pro', sans-serif; }
    .bar-nav .menu-items li {
      list-style: none;
      padding: 10px;
      opacity: 0; }
      .bar-nav .menu-items li.show {
        opacity: 1;
        -webkit-animation: fadeInUp .5s;
                animation: fadeInUp .5s; }
      .bar-nav .menu-items li a {
        color: black;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 25px;
        transition: all cubic-bezier(0.65, 0.05, 0.36, 1) 0.3s; }
        .bar-nav .menu-items li a:hover {
          color: rgba(0, 0, 0, 0.7); }

.header-section {
  background-image: url(/assets/img/bg2.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
  display: -ms-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  background-attachment: fixed;
  opacity: 1;
  -webkit-animation: fadeInUp 1s;
          animation: fadeInUp 1s; }
  .header-section .overlay {
    background-image: url(/assets/img/pattern.png) !important;
    background-repeat: repeat;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: .5; }
  .header-section .bar-top {
    background-color: transparent;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: -ms-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    padding: 5px;
    box-sizing: border-box;
    z-index: 9;
    transition: all ease-in-out .4s; }
    .header-section .bar-top.active {
      position: fixed;
      background-color: white; }
      .header-section .bar-top.active .logo, .header-section .bar-top.active i#show-menu {
        color: #000; }
    .header-section .bar-top.active-number, .header-section .bar-top.active-map {
      background-color: transparent; }
      .header-section .bar-top.active-number .logo, .header-section .bar-top.active-number i#show-menu, .header-section .bar-top.active-map .logo, .header-section .bar-top.active-map i#show-menu {
        color: #fff; }
    .header-section .bar-top .logo {
      font-family: 'Source Sans Pro', sans-serif;
      color: white;
      font-weight: bold;
      font-size: 30px;
      top: 10px;
      left: 10px;
      -ms-flex-order: 0;
          order: 0;
      transition: all ease-in-out .4s; }
    .header-section .bar-top i#show-menu {
      color: white;
      font-size: 30px;
      padding: 2px 6px;
      -ms-flex-item-align: start;
          align-self: flex-start;
      cursor: pointer;
      right: 10px;
      top: 10px;
      z-index: 9;
      -ms-flex-order: 1;
          order: 1;
      transition: all ease-in-out .4s; }
  .header-section .slogan {
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
    display: -ms-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-direction: column;
        flex-direction: column;
    z-index: 2;
    opacity: 0; }
    .header-section .slogan.show {
      opacity: 1;
      -webkit-animation: fadeInUp .4s;
              animation: fadeInUp .4s; }
    .header-section .slogan .btn-contact {
      color: white;
      border: 2px solid white;
      padding: 8px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      overflow: hidden;
      text-transform: capitalize;
      letter-spacing: 0.01em;
      cursor: pointer;
      transition: all ease-in-out .3s;
      padding-right: 10px;
      text-align: center;
      border-radius: 4px; }
      .header-section .slogan .btn-contact span {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 15px;
        text-transform: uppercase; }
    .header-section .slogan h1, .header-section .slogan h4 {
      display: block;
      padding: 8px;
      font-weight: bold;
      color: white;
      margin-bottom: 3px;
      letter-spacing: -0.03em;
      text-transform: capitalize; }
    .header-section .slogan h4 {
      font-size: 25px;
      margin-bottom: -20px; }
    .header-section .slogan h1 {
      font-size: 54px; }
  @media (max-width: 550px) {
    .header-section .slogan .btn-contact {
      width: 120px; }
      .header-section .slogan .btn-contact:hover {
        width: 130px; }
      .header-section .slogan .btn-contact i {
        font-size: 20px; }
      .header-section .slogan .btn-contact span {
        font-size: 13px; }
    .header-section .slogan h4 {
      width: 105px;
      background-color: #000;
      color: #fddf4c;
      font-size: 16px; }
    .header-section .slogan h1 {
      font-size: 30px; }
      .header-section .slogan h1:nth-child(2) {
        width: 130px; } }

.about-section {
  display: -ms-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  width: 100%;
  overflow: hidden; }
  .about-section .about-wrapper {
    display: -ms-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    position: relative; }
    .about-section .about-wrapper .about-content {
      margin-top: 30px;
      margin-bottom: 30px;
      padding: 10rem 0;
      width: 700px;
      font-family: 'PT Sans', sans-serif; }
      .about-section .about-wrapper .about-content.show h2, .about-section .about-wrapper .about-content.show h1 {
        opacity: 1;
        -webkit-animation: fadeInUp 1s;
                animation: fadeInUp 1s; }
      .about-section .about-wrapper .about-content h2 {
        font-size: 45px;
        opacity: 0;
        transition: all ease-in-out .8s; }
      .about-section .about-wrapper .about-content h1 {
        text-align: center;
        padding: 10px;
        margin: 0;
        line-height: 1.4;
        font-size: 30px;
        font-weight: normal;
        opacity: 0;
        color: rgba(0, 0, 0, 0.8);
        transition: all ease-in-out .8s; }

.services-section {
  display: -ms-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px; }
  .services-section .services {
    display: -ms-flex;
    -ms-flex-align: center;
        align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%; }
    .services-section .services .image-service {
      width: 33.333%;
      overflow: hidden;
      position: relative;
      opacity: 0;
      transition: all ease-in-out .5s; }
      .services-section .services .image-service.show {
        opacity: 1;
        -webkit-animation: fadeInUp .8s;
                animation: fadeInUp .8s; }
      .services-section .services .image-service:hover .service-content {
        background-color: rgba(0, 0, 0, 0.95);
        opacity: 1; }
      .services-section .services .image-service .service-content {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: transparent;
        transition: all ease-in-out .45s;
        display: -ms-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: start;
            align-items: flex-start;
        padding-left: 20px;
        font-family: 'PT Sans', sans-serif;
        color: #FFF;
        opacity: 0; }
        .services-section .services .image-service .service-content h3 {
          font-size: 35px; }
        .services-section .services .image-service .service-content p {
          padding: 10px;
          padding-left: 0;
          margin: 0;
          text-align: left;
          width: 250px;
          color: rgba(255, 255, 255, 0.6); }
        .services-section .services .image-service .service-content span {
          padding: 6px 10px;
          cursor: pointer;
          border: 2px solid white;
          border-radius: 2px; }
      .services-section .services .image-service img {
        width: 100%;
        display: block; }

.numbers-section {
  width: 100%;
  display: -ms-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }
  .numbers-section .numbers-wrapper {
    display: -ms-flex;
    display: -ms-flexbox;
    display: flex;
    width: 1000px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-family: 'PT Sans', sans-serif;
    padding: 12rem 0;
    box-sizing: border-box; }
    .numbers-section .numbers-wrapper.active-number {
      color: #fff; }
      .numbers-section .numbers-wrapper.active-number .numbers-content h2, .numbers-section .numbers-wrapper.active-number .numbers-content h4 {
        color: #fff; }
    .numbers-section .numbers-wrapper .numbers-content {
      display: -ms-flex;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-pack: center;
          justify-content: center;
      opacity: 0;
      transition: all ease-in-out .8s; }
      .numbers-section .numbers-wrapper .numbers-content.show {
        opacity: 1; }
      .numbers-section .numbers-wrapper .numbers-content h2 {
        font-size: 55px; }
      .numbers-section .numbers-wrapper .numbers-content h4 {
        font-size: 25px;
        font-weight: normal;
        text-transform: capitalize;
        margin: 3px;
        color: rgba(0, 0, 0, 0.8); }

.team-section {
  display: -ms-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  font-family: 'PT Sans', sans-serif;
  overflow: hidden; }
  .team-section .team-wrapper {
    -ms-flex-direction: column;
        flex-direction: column;
    width: 600px;
    display: -ms-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;
    margin-top: 100px; }
    .team-section .team-wrapper h1 {
      font-size: 45px;
      transition: all ease-in-out .8s;
      opacity: 0;
      margin-bottom: 25px; }
    .team-section .team-wrapper h3 {
      font-size: 25px;
      font-weight: normal;
      margin-bottom: 35px;
      opacity: 0;
      transition: all ease-in-out .8s;
      color: rgba(0, 0, 0, 0.8); }
    .team-section .team-wrapper h1.show, .team-section .team-wrapper h3.show {
      opacity: 1;
      -webkit-animation: fadeInUp 1s;
              animation: fadeInUp 1s; }
    .team-section .team-wrapper .team-content {
      width: 100%;
      display: -ms-flex;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .team-section .team-wrapper .team-content .team {
        display: -ms-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: start;
            align-items: flex-start;
        width: calc(50% - 40px);
        margin: 20px;
        -ms-flex-direction: column;
            flex-direction: column;
        transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
        opacity: 0; }
        .team-section .team-wrapper .team-content .team.show {
          opacity: 1;
          -webkit-animation: fadeInUp .8s;
                  animation: fadeInUp .8s; }
        .team-section .team-wrapper .team-content .team:hover {
          -webkit-transform: scale(1.02);
                  transform: scale(1.02); }
        .team-section .team-wrapper .team-content .team h2 {
          font-size: 20px;
          padding-top: 8px; }
        .team-section .team-wrapper .team-content .team h4 {
          font-size: 18px;
          color: rgba(0, 0, 0, 0.8);
          font-weight: normal; }

.map-section .map-wrapper {
  height: 100vh;
  width: 100%; }
  .map-section .map-wrapper #map {
    height: 100%;
    -webkit-filter: grayscale(1) brightness(0.7) contrast(1.15);
            filter: grayscale(1) brightness(0.7) contrast(1.15);
    opacity: 0;
    transition: all ease-in-out .8s;
    width: 100%; }
    .map-section .map-wrapper #map.show {
      opacity: 1; }

.clients-section {
  display: -ms-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  font-family: 'PT Sans', sans-serif;
  overflow: hidden;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 6rem 0; }
  .clients-section .clients-wrapper {
    -ms-flex-direction: column;
        flex-direction: column;
    width: 600px;
    display: -ms-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;
    margin-top: 100px; }
    .clients-section .clients-wrapper h1 {
      font-size: 45px;
      transition: all ease-in-out .8s;
      opacity: 0;
      margin-bottom: 25px; }
    .clients-section .clients-wrapper h3 {
      font-size: 25px;
      font-weight: normal;
      margin-bottom: 35px;
      opacity: 0;
      transition: all ease-in-out .8s;
      color: rgba(0, 0, 0, 0.8); }
    .clients-section .clients-wrapper h1.show, .clients-section .clients-wrapper h3.show {
      opacity: 1;
      -webkit-animation: fadeInUp 1s;
              animation: fadeInUp 1s; }
  .clients-section .client-content {
    display: -ms-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
    .clients-section .client-content i {
      padding: 20px;
      font-size: 25px;
      color: rgba(0, 0, 0, 0.8);
      cursor: pointer;
      opacity: 0;
      transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1.2); }
      .clients-section .client-content i.show {
        opacity: 1;
        -webkit-animation: fadeInUp 1s;
                animation: fadeInUp 1s; }
    .clients-section .client-content .slide-wrapper {
      display: -ms-flex;
      display: -ms-flexbox;
      display: flex; }
      .clients-section .client-content .slide-wrapper .client {
        margin: 10px;
        opacity: 0;
        transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1); }
        .clients-section .client-content .slide-wrapper .client.show {
          opacity: 1;
          -webkit-animation: fadeInUp .8s;
                  animation: fadeInUp .8s; }

.footer-section {
  background-image: url(/assets/img/bg2.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  min-height: 150px;
  display: -ms-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  background-attachment: fixed; }
  .footer-section .overlay {
    background-image: url(/assets/img/pattern.png) !important;
    background-repeat: repeat;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: .5; }
  .footer-section .footer-wrapper {
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    display: -ms-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    -ms-flex-align: start;
        align-items: flex-start; }
    .footer-section .footer-wrapper .info span {
      display: -ms-flex;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: start;
          align-items: flex-start;
      color: white; }
      .footer-section .footer-wrapper .info span p {
        font-size: 18px;
        margin: 0;
        font-weight: normal; }
      .footer-section .footer-wrapper .info span i {
        font-size: 30px; }
    .footer-section .footer-wrapper .social h1 {
      font-size: 35px;
      color: #fff;
      margin: 0; }
    .footer-section .footer-wrapper .social .social-icon {
      display: -ms-flex;
      display: -ms-flexbox;
      display: flex;
      width: 140px;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      .footer-section .footer-wrapper .social .social-icon i {
        color: #fff;
        font-size: 40px; }

body {
  background: white;
  transition: all ease-in-out .4s;
  -webkit-font-smoothing: antialiased; }
