/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  background-color: black;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 {
  margin-bottom: 1em; }

p {
  margin: 1em 0; }

a {
  color: #00a; }

a:hover {
  color: #000; }

a:visited {
  color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em; }

.posts li {
  line-height: 1.75em; }

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%; }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em; }

.header a {
  font-weight: bold;
  text-decoration: none; }

.title {
  display: inline-block;
  margin-bottom: 2em; }

.title a {
  color: #a00; }

.title a:hover {
  color: #000; }

.header a.extra {
  color: #aaa;
  margin-left: 1em; }

.header a.extra:hover {
  color: #000; }

.meta {
  color: #aaa; }

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden; }

.footer .contact {
  float: left;
  margin-right: 3em; }

.footer .contact a {
  color: #8085C1; }

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right; }

.footer .rss img {
  border: 0; }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em; }

.post ul, .post ol {
  margin-left: 1.35em; }

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em; }

.post pre code {
  border: none; }

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF; }

.post pre.terminal code {
  background-color: #333; }

body.active-number, body.active-map {
  background-color: #121212; }

.bar-nav {
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  width: 100%;
  height: 100vh;
  display: -ms-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  z-index: 10; }
  .bar-nav.hide {
    top: -120%; }
  .bar-nav i {
    color: black;
    font-size: 40px;
    padding: 2px 6px;
    -ms-flex-item-align: center;
        align-self: center;
    cursor: pointer; }
  .bar-nav .menu-items {
    height: 100%;
    display: -ms-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-family: 'Source Sans Pro', sans-serif; }
    .bar-nav .menu-items li {
      list-style: none;
      padding: 10px;
      opacity: 0; }
      .bar-nav .menu-items li.show {
        opacity: 1;
        -webkit-animation: fadeInUp .5s;
                animation: fadeInUp .5s; }
      .bar-nav .menu-items li a {
        color: black;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 25px;
        transition: all cubic-bezier(0.65, 0.05, 0.36, 1) 0.3s; }
        .bar-nav .menu-items li a:hover {
          color: rgba(0, 0, 0, 0.7); }

.header-section {
  background-image: url(../img/bg2.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
  display: -ms-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  background-attachment: fixed;
  opacity: 1;
  -webkit-animation: fadeInUp 1s;
          animation: fadeInUp 1s; }
  .header-section .overlay {
    background-image: url(../img/pattern.png) !important;
    background-repeat: repeat;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: .5; }
  .header-section .bar-top {
    background-color: transparent;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: -ms-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    padding: 5px;
    box-sizing: border-box;
    z-index: 9;
    transition: all ease-in-out .4s; }
    .header-section .bar-top.active {
      position: fixed;
      background-color: white; }
      .header-section .bar-top.active .logo, .header-section .bar-top.active i#show-menu {
        color: #000; }
    .header-section .bar-top.active-number, .header-section .bar-top.active-map {
      background-color: transparent; }
      .header-section .bar-top.active-number .logo, .header-section .bar-top.active-number i#show-menu, .header-section .bar-top.active-map .logo, .header-section .bar-top.active-map i#show-menu {
        color: #fff; }
    .header-section .bar-top .logo {
      font-family: 'Source Sans Pro', sans-serif;
      color: white;
      font-weight: bold;
      font-size: 30px;
      top: 10px;
      left: 10px;
      -ms-flex-order: 0;
          order: 0;
      transition: all ease-in-out .4s; }
    .header-section .bar-top i#show-menu {
      color: white;
      font-size: 30px;
      padding: 2px 6px;
      -ms-flex-item-align: start;
          align-self: flex-start;
      cursor: pointer;
      right: 10px;
      top: 10px;
      z-index: 9;
      -ms-flex-order: 1;
          order: 1;
      transition: all ease-in-out .4s; }
  .header-section .slogan {
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
    display: -ms-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-direction: column;
        flex-direction: column;
    z-index: 2;
    opacity: 0; }
    .header-section .slogan.show {
      opacity: 1;
      -webkit-animation: fadeInUp .4s;
              animation: fadeInUp .4s; }
    .header-section .slogan .btn-contact {
      height: 40px;
      line-height: 6rem;
      border-radius: 4px;
      color: white;
      border: 2px solid white;
      padding: 5px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      text-transform: capitalize;
      letter-spacing: 0.03em;
      cursor: pointer;
      transition: all ease-in-out .3s;
      padding-right: 20px;
      padding-left: 20px;
      text-align: center;
      border-radius: 4px;
      box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.19);
      position: relative;
      overflow: hidden; }
      .header-section .slogan .btn-contact:hover span {
        color: #000;
        z-index: 10; }
        .header-section .slogan .btn-contact:hover span a {
          color: #000; }
      .header-section .slogan .btn-contact:hover::before {
        margin-left: 0; }
      .header-section .slogan .btn-contact::before {
        transition: all 0.45s cubic-bezier(0.69, -0.03, 0.3, 0.83);
        content: '';
        display: block;
        background-color: #fff;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        margin-left: -100%; }
      .header-section .slogan .btn-contact span {
        font-family: 'PT Sans', sans-serif;
        font-size: 17px;
        font-weight: bolder; }
        .header-section .slogan .btn-contact span a {
          transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1.2);
          text-decoration: none;
          color: white; }
    .header-section .slogan h1, .header-section .slogan h4 {
      display: block;
      padding: 8px;
      font-weight: bold;
      color: white;
      margin-bottom: 3px;
      letter-spacing: -0.03em;
      text-transform: capitalize; }
    .header-section .slogan h4 {
      font-size: 25px;
      margin-bottom: -20px; }
    .header-section .slogan h1 {
      font-size: 54px; }
  @media (max-width: 600px) {
    .header-section .slogan h4 {
      font-size: 20px; }
    .header-section .slogan h1 {
      font-size: 40px;
      text-align: center; }
      .header-section .slogan h1 span {
        display: none; } }

.about-section {
  display: -ms-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  width: 100%;
  overflow: hidden;
  background-color: #fff; }
  .about-section .about-wrapper {
    display: -ms-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    position: relative; }
    .about-section .about-wrapper .about-content {
      margin-top: 30px;
      margin-bottom: 30px;
      padding: 10rem 0;
      width: 700px;
      font-family: 'PT Sans', sans-serif; }
      .about-section .about-wrapper .about-content.show h2, .about-section .about-wrapper .about-content.show h1 {
        opacity: 1;
        -webkit-animation: fadeInUp 1s;
                animation: fadeInUp 1s; }
      .about-section .about-wrapper .about-content h2 {
        font-size: 45px;
        opacity: 0;
        transition: all ease-in-out .8s; }
      .about-section .about-wrapper .about-content h1 {
        text-align: center;
        padding: 10px;
        margin: 0;
        line-height: 1.4;
        font-size: 30px;
        font-weight: normal;
        opacity: 0;
        color: rgba(0, 0, 0, 0.8);
        transition: all ease-in-out .8s; }
  @media (max-width: 830px) {
    .about-section .about-wrapper .about-content {
      padding: 6rem 0;
      width: 100%; }
      .about-section .about-wrapper .about-content h2 {
        font-size: 34px; }
      .about-section .about-wrapper .about-content h1 {
        font-size: 24px;
        width: 500px; } }
  @media (max-width: 600px) {
    .about-section .about-wrapper .about-content h1 {
      font-size: 24px;
      width: 100%;
      padding: 10px;
      box-sizing: border-box; } }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: -ms-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  z-index: 20;
  transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  display: none;
  opacity: 0; }
  .modal.show {
    display: -ms-flex;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
    -webkit-animation: fadeIn .4s;
            animation: fadeIn .4s; }
  .modal .modal-wrapper {
    transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
    width: 750px;
    height: 400px;
    background-color: #fff;
    position: relative;
    opacity: 0;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    border-radius: 4px; }
    .modal .modal-wrapper.show {
      opacity: 1;
      -webkit-transform: scaleX(1);
              transform: scaleX(1); }
    .modal .modal-wrapper .close-btn {
      position: absolute;
      right: -20px;
      top: -28px; }
      .modal .modal-wrapper .close-btn i {
        color: white;
        font-size: 30px;
        cursor: pointer; }
    .modal .modal-wrapper .modal-services {
      height: 100%;
      width: 100%;
      font-family: 'PT Sans', sans-serif;
      opacity: 0;
      transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
      display: none; }
      .modal .modal-wrapper .modal-services.show {
        opacity: 1;
        display: -ms-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-animation: fadeIn .8s;
                animation: fadeIn .8s; }
      .modal .modal-wrapper .modal-services .service-info {
        width: 50%;
        padding: 0 40px;
        box-sizing: border-box; }
        .modal .modal-wrapper .modal-services .service-info .title-team {
          font-size: 25px;
          margin-top: 35px;
          text-align: left; }
        .modal .modal-wrapper .modal-services .service-info small {
          font-size: 15px;
          text-align: left;
          display: block;
          margin-top: 5px; }
        .modal .modal-wrapper .modal-services .service-info .title {
          font-size: 30px;
          margin-top: 30px;
          margin-bottom: 0px; }
        .modal .modal-wrapper .modal-services .service-info .description {
          text-align: justify;
          padding-top: 8px;
          box-sizing: border-box;
          font-size: 14px;
          line-height: 1.5;
          color: rgba(0, 0, 0, 0.8); }
        .modal .modal-wrapper .modal-services .service-info .social {
          width: 100%;
          display: -ms-flex;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: start;
              justify-content: flex-start;
          margin-top: 25px; }
          .modal .modal-wrapper .modal-services .service-info .social i {
            border-radius: 4px;
            border: 1px solid rgba(0, 0, 0, 0.8);
            padding: 15px;
            color: rgba(0, 0, 0, 0.8);
            width: 20px;
            height: 20px;
            margin-right: 25px;
            display: -ms-flex;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: center;
                justify-content: center;
            -ms-flex-align: center;
                align-items: center;
            font-size: 28px;
            cursor: pointer; }
      .modal .modal-wrapper .modal-services .service-img {
        background-position: center center;
        background-size: cover;
        width: 50%;
        height: 100%;
        background-color: red;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px; }
  @media (max-width: 835px) {
    .modal .modal-wrapper {
      width: 550px; }
      .modal .modal-wrapper .modal-services .service-info {
        width: 60%; }
      .modal .modal-wrapper .modal-services .service-img {
        width: 40%; } }
  @media (max-width: 620px) {
    .modal .modal-wrapper {
      width: calc(100% - 10px);
      margin: 5px; }
      .modal .modal-wrapper .close-btn {
        right: 0px;
        top: -30px; }
      .modal .modal-wrapper .modal-services .service-info {
        width: 60%; }
      .modal .modal-wrapper .modal-services .service-img {
        width: 40%; } }

@media (max-width: 620px) and (max-width: 620px) {
  .modal .modal-wrapper {
    width: 300px; }
    .modal .modal-wrapper .modal-services .service-info {
      width: 100%; }
      .modal .modal-wrapper .modal-services .service-info .title-team {
        font-size: 22px; }
      .modal .modal-wrapper .modal-services .service-info .description {
        margin-top: 0; }
      .modal .modal-wrapper .modal-services .service-info .social {
        margin-top: 5px;
        -ms-flex-pack: justify;
            justify-content: space-between; }
        .modal .modal-wrapper .modal-services .service-info .social i {
          width: 10px;
          margin-right: 0;
          height: 10px; }
    .modal .modal-wrapper .modal-services .service-img {
      display: none; } }

@media (max-width: 620px) and (max-width: 350px) {
  .modal .modal-wrapper {
    width: calc(100% - 20px);
    margin: 10px; }
    .modal .modal-wrapper .description {
      padding-bottom: 15px; } }

.services-section {
  display: -ms-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  width: 100%;
  background-color: #fff; }
  .services-section .services {
    display: -ms-flex;
    -ms-flex-align: center;
        align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%; }
    .services-section .services .image-service {
      width: 33.333%;
      overflow: hidden;
      position: relative;
      opacity: 0;
      transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1); }
      .services-section .services .image-service.show {
        opacity: 1;
        -webkit-animation: slideInUp .5s;
                animation: slideInUp .5s; }
      .services-section .services .image-service:hover .service-content {
        -webkit-animation: slideInUp .5s;
                animation: slideInUp .5s;
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.95); }
      .services-section .services .image-service .service-content {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: transparent;
        transition: all ease-in-out .45s;
        display: -ms-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: start;
            align-items: flex-start;
        padding-left: 20px;
        font-family: 'PT Sans', sans-serif;
        color: #FFF;
        opacity: 0; }
        .services-section .services .image-service .service-content h3 {
          font-size: 30px; }
        .services-section .services .image-service .service-content p {
          padding: 10px;
          padding-left: 0;
          margin: 0;
          text-align: left;
          width: 250px;
          color: rgba(255, 255, 255, 0.6); }
        .services-section .services .image-service .service-content span {
          padding: 7px 14px;
          cursor: pointer;
          border: 2px solid white;
          background-color: white;
          color: #000;
          border-radius: 2px;
          font-weight: bold;
          box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.19); }
      @media (max-width: 1000px) {
        .services-section .services .image-service .service-content h3 {
          font-size: 22px; }
        .services-section .services .image-service .service-content p {
          width: 180px;
          font-size: 11px; } }
      .services-section .services .image-service img {
        width: 100%;
        display: block; }
    @media (max-width: 800px) {
      .services-section .services .image-service {
        width: 50%; }
        .services-section .services .image-service .service-content h3 {
          font-size: 22px; }
        .services-section .services .image-service .service-content p {
          width: 180px;
          font-size: 11px; } }
    @media (max-width: 480px) {
      .services-section .services .image-service {
        width: 100%; }
        .services-section .services .image-service .service-content h3 {
          font-size: 22px; }
        .services-section .services .image-service .service-content p {
          width: 180px;
          font-size: 11px; } }

.numbers-section {
  width: 100%;
  display: -ms-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  background-image: url(../img/bg.jpg);
  background-blend-mode: multiply;
  background-color: rgba(45, 45, 45, 0.81);
  background-size: cover;
  background-position: center center;
  width: 100%;
  background-attachment: fixed;
  -webkit-filter: grayscale(1) contrast(1.1);
          filter: grayscale(1) contrast(1.1); }
  .numbers-section .overlay {
    background-image: url(../img/pattern.png) !important;
    background-repeat: repeat;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0; }
  .numbers-section .numbers-wrapper {
    position: relative;
    display: -ms-flex;
    display: -ms-flexbox;
    display: flex;
    width: 1000px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-family: 'PT Sans', sans-serif;
    padding: 10rem 0;
    box-sizing: border-box; }
    .numbers-section .numbers-wrapper.active-number {
      color: #fff; }
      .numbers-section .numbers-wrapper.active-number .numbers-content h2, .numbers-section .numbers-wrapper.active-number .numbers-content h4 {
        color: #fff; }
    .numbers-section .numbers-wrapper .numbers-content {
      display: -ms-flex;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-pack: center;
          justify-content: center;
      opacity: 0;
      transition: all ease-in-out .8s; }
      .numbers-section .numbers-wrapper .numbers-content.show {
        opacity: 1; }
      .numbers-section .numbers-wrapper .numbers-content h2 {
        font-size: 55px; }
      .numbers-section .numbers-wrapper .numbers-content h4 {
        font-size: 25px;
        font-weight: normal;
        text-transform: capitalize;
        margin: 3px;
        color: rgba(0, 0, 0, 0.8); }
  @media (max-width: 650px) {
    .numbers-section .numbers-wrapper {
      width: 100%; }
      .numbers-section .numbers-wrapper .numbers-content h2 {
        font-size: 45px; }
      .numbers-section .numbers-wrapper .numbers-content h4 {
        font-size: 20px; } }
  @media (max-width: 530px) {
    .numbers-section .numbers-wrapper {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 100%;
      padding: 4rem 0; }
      .numbers-section .numbers-wrapper .numbers-content {
        width: 50%;
        margin-bottom: 15px;
        margin-top: 15px; }
        .numbers-section .numbers-wrapper .numbers-content h2 {
          font-size: 40px; }
        .numbers-section .numbers-wrapper .numbers-content h4 {
          font-size: 18px; } }

.team-section {
  display: -ms-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  font-family: 'PT Sans', sans-serif;
  overflow: hidden;
  background-color: #fff; }
  .team-section .team-wrapper {
    -ms-flex-direction: column;
        flex-direction: column;
    width: 600px;
    display: -ms-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;
    margin-top: 100px; }
    .team-section .team-wrapper h1 {
      font-size: 45px;
      transition: all ease-in-out .8s;
      opacity: 0;
      margin-bottom: 25px; }
    .team-section .team-wrapper h3 {
      font-size: 25px;
      font-weight: normal;
      margin-bottom: 35px;
      opacity: 0;
      transition: all ease-in-out .8s;
      color: rgba(0, 0, 0, 0.8); }
    .team-section .team-wrapper h1.show, .team-section .team-wrapper h3.show {
      opacity: 1;
      -webkit-animation: fadeInUp 1s;
              animation: fadeInUp 1s; }
    .team-section .team-wrapper .team-content {
      width: 100%;
      display: -ms-flex;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .team-section .team-wrapper .team-content .team {
        display: -ms-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: start;
            align-items: flex-start;
        width: calc(50% - 40px);
        margin: 20px;
        -ms-flex-direction: column;
            flex-direction: column;
        transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
        opacity: 0;
        min-height: 361px; }
        .team-section .team-wrapper .team-content .team.show {
          opacity: 1;
          -webkit-animation: fadeInUp .8s;
                  animation: fadeInUp .8s; }
        .team-section .team-wrapper .team-content .team:hover img {
          -webkit-filter: grayscale(1) contrast(1.5) invert(0.1);
                  filter: grayscale(1) contrast(1.5) invert(0.1);
          z-index: 2; }
        .team-section .team-wrapper .team-content .team:hover h4, .team-section .team-wrapper .team-content .team:hover h2 {
          margin-left: 5px;
          z-index: 3; }
        .team-section .team-wrapper .team-content .team:hover h2 {
          margin-top: -32px;
          color: #fff; }
        .team-section .team-wrapper .team-content .team:hover h4 {
          margin-top: 5px;
          font-weight: bold; }
        .team-section .team-wrapper .team-content .team:hover .sub-name i {
          opacity: 1; }
        .team-section .team-wrapper .team-content .team img {
          transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
          width: 100%; }
        .team-section .team-wrapper .team-content .team h2 {
          font-size: 18px;
          padding-top: 8px;
          transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1); }
        .team-section .team-wrapper .team-content .team h4 {
          font-size: 16px;
          color: rgba(0, 0, 0, 0.8);
          font-weight: normal;
          margin: 0;
          transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1); }
        .team-section .team-wrapper .team-content .team .sub-name {
          display: -ms-flex;
          display: -ms-flexbox;
          display: flex;
          width: 100%;
          -ms-flex-pack: justify;
              justify-content: space-between;
          -ms-flex-align: center;
              align-items: center; }
          .team-section .team-wrapper .team-content .team .sub-name i {
            transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
            opacity: 0;
            box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.19);
            padding: 10px;
            width: 20px;
            height: 20px;
            display: -ms-flex;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: center;
                justify-content: center;
            -ms-flex-align: center;
                align-items: center;
            border-radius: 50%;
            margin-top: -22px;
            margin-right: 10px;
            font-size: 18px;
            z-index: 5;
            background-color: white;
            cursor: pointer; }
  @media (max-width: 750px) {
    .team-section .team-wrapper h1 {
      font-size: 35px; }
    .team-section .team-wrapper h3 {
      font-size: 22px;
      width: 500px;
      -ms-flex-item-align: center;
          align-self: center; } }
  @media (max-width: 570px) {
    .team-section .team-wrapper h1 {
      margin-bottom: 10px; }
    .team-section .team-wrapper h3 {
      font-size: 19px;
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      -ms-flex-item-align: center;
          align-self: center; }
    .team-section .team-wrapper .team-content .team {
      min-height: 300px; } }
  @media (max-width: 500px) {
    .team-section .team-wrapper .team-content .team {
      min-height: 400px;
      margin: 0 auto;
      width: calc(70% - 40px); } }
  @media (max-width: 430px) {
    .team-section .team-wrapper .team-content .team {
      min-height: 380px;
      margin: 0 auto;
      width: calc(80% - 40px); } }
  @media (max-width: 350px) {
    .team-section .team-wrapper .team-content .team {
      min-height: 390px;
      margin: 0 auto;
      width: calc(100% - 40px); } }

.map-section {
  position: relative;
  background: #fff; }
  .map-section .overlay-map {
    position: absolute;
    width: 100%;
    height: 25px;
    background-color: #ffffff;
    z-index: 2;
    bottom: 0; }
  .map-section .map-wrapper {
    height: 525px;
    width: 100%; }
    .map-section .map-wrapper #map {
      height: 100%;
      -webkit-filter: grayscale(1) brightness(0.7) contrast(1.3);
              filter: grayscale(1) brightness(0.7) contrast(1.3);
      opacity: 0;
      transition: all ease-in-out .3s;
      width: 100%; }
      .map-section .map-wrapper #map.show {
        opacity: 1; }

.clients-section {
  display: -ms-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  font-family: 'PT Sans', sans-serif;
  overflow: hidden;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 5rem 0;
  background-color: #fff; }
  .clients-section .clients-wrapper {
    -ms-flex-direction: column;
        flex-direction: column;
    width: 600px;
    display: -ms-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 35px; }
    .clients-section .clients-wrapper h1 {
      font-size: 45px;
      transition: all ease-in-out .8s;
      opacity: 0;
      margin-bottom: 25px; }
    .clients-section .clients-wrapper h3 {
      font-size: 25px;
      font-weight: normal;
      margin-bottom: 35px;
      opacity: 0;
      transition: all ease-in-out .8s;
      color: rgba(0, 0, 0, 0.8); }
    .clients-section .clients-wrapper h1.show, .clients-section .clients-wrapper h3.show {
      opacity: 1;
      -webkit-animation: fadeInUp 1s;
              animation: fadeInUp 1s; }
  .clients-section .client-content {
    display: -ms-flex;
    display: -ms-flexbox;
    display: flex;
    width: 700px;
    -ms-flex-align: center;
        align-items: center; }
    .clients-section .client-content i {
      padding: 20px;
      font-size: 25px;
      color: rgba(0, 0, 0, 0.8);
      cursor: pointer;
      opacity: 0;
      transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1.2); }
      .clients-section .client-content i.show {
        opacity: 1;
        -webkit-animation: fadeInUp 1s;
                animation: fadeInUp 1s; }
    .clients-section .client-content .slide-wrapper {
      display: -ms-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin-bottom: 50px; }
      .clients-section .client-content .slide-wrapper .client {
        margin: 10px;
        opacity: 0;
        transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
        width: calc(33.33% - 20px);
        margin: 10px;
        height: 150px;
        display: -ms-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        position: relative; }
        .clients-section .client-content .slide-wrapper .client.show {
          opacity: 1;
          -webkit-animation: fadeInUp .8s;
                  animation: fadeInUp .8s; }
        .clients-section .client-content .slide-wrapper .client:hover img {
          opacity: 1; }
        .clients-section .client-content .slide-wrapper .client:hover .border::before, .clients-section .client-content .slide-wrapper .client:hover .border::after {
          background-color: black;
          -webkit-animation: tada .4s;
                  animation: tada .4s; }
        .clients-section .client-content .slide-wrapper .client:hover::before, .clients-section .client-content .slide-wrapper .client:hover::after {
          background-color: black;
          -webkit-animation: tada .4s;
                  animation: tada .4s; }
        .clients-section .client-content .slide-wrapper .client::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 3px;
          background-color: rgba(0, 0, 0, 0.5);
          transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1.2); }
        .clients-section .client-content .slide-wrapper .client::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 3px;
          background-color: rgba(0, 0, 0, 0.5);
          transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1.2); }
        .clients-section .client-content .slide-wrapper .client .border::before {
          content: '';
          position: absolute;
          top: -5px;
          left: 5px;
          display: block;
          width: 3px;
          height: calc(100% + 10px);
          background-color: rgba(0, 0, 0, 0.5); }
        .clients-section .client-content .slide-wrapper .client .border::after {
          content: '';
          position: absolute;
          top: -5px;
          right: 5px;
          display: block;
          width: 3px;
          height: calc(100% + 10px);
          background-color: rgba(0, 0, 0, 0.5); }
        .clients-section .client-content .slide-wrapper .client img {
          -webkit-filter: invert(1);
                  filter: invert(1);
          opacity: .5;
          transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1.2); }
  @media (max-width: 750px) {
    .clients-section .clients-wrapper h1 {
      font-size: 35px; }
    .clients-section .clients-wrapper h3 {
      font-size: 22px;
      width: 500px;
      -ms-flex-item-align: center;
          align-self: center; } }
  @media (max-width: 700px) {
    .clients-section .client-content {
      width: calc(100% - 20px);
      margin: 10px; }
      .clients-section .client-content .slide-wrapper .client img {
        -webkit-transform: scale(0.7);
                transform: scale(0.7); } }
  @media (max-width: 630px) {
    .clients-section .client-content {
      width: calc(90% - 20px);
      margin: 10px; }
      .clients-section .client-content .slide-wrapper .client {
        width: calc(50% - 20px); }
        .clients-section .client-content .slide-wrapper .client img {
          -webkit-transform: scale(0.8);
                  transform: scale(0.8); } }
  @media (max-width: 570px) {
    .clients-section .clients-wrapper {
      width: 100%; }
      .clients-section .clients-wrapper h1 {
        margin-bottom: 10px; }
      .clients-section .clients-wrapper h3 {
        font-size: 19px;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        -ms-flex-item-align: center;
            align-self: center; } }
  @media (max-width: 530px) {
    .clients-section .client-content {
      width: calc(100% - 20px);
      margin: 10px; }
      .clients-section .client-content .slide-wrapper .client {
        width: calc(50% - 20px); }
        .clients-section .client-content .slide-wrapper .client img {
          -webkit-transform: scale(0.8);
                  transform: scale(0.8); } }
  @media (max-width: 400px) {
    .clients-section .client-content {
      width: calc(100% - 20px);
      margin: 10px; }
      .clients-section .client-content .slide-wrapper .client {
        width: calc(100% - 20px); }
        .clients-section .client-content .slide-wrapper .client img {
          -webkit-transform: scale(0.8);
                  transform: scale(0.8); } }

#footer-section.footer-section {
  width: 100%;
  display: -ms-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  background-color: #030303;
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: -1; }
  #footer-section.footer-section .footer-wrapper {
    position: relative;
    font-family: 'PT Sans', sans-serif;
    display: -ms-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    -ms-flex-align: start;
        align-items: flex-start;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px; }
    #footer-section.footer-section .footer-wrapper .info span {
      display: -ms-flex;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      color: white;
      margin-bottom: 8px; }
      #footer-section.footer-section .footer-wrapper .info span p {
        font-family: 'PT Sans', sans-serif;
        font-size: 13px;
        margin: 0;
        font-weight: normal;
        margin-left: 10px;
        margin-top: -4px; }
      #footer-section.footer-section .footer-wrapper .info span i {
        font-size: 20px;
        color: #000;
        background-color: #fff;
        width: 30px;
        height: 30px;
        display: -ms-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: center;
            align-items: center;
        border-radius: 3px; }
    #footer-section.footer-section .footer-wrapper .social {
      text-align: left; }
      #footer-section.footer-section .footer-wrapper .social h1 {
        font-size: 30px;
        color: #fff;
        margin: 0;
        margin-bottom: 20px; }
      #footer-section.footer-section .footer-wrapper .social small {
        color: #fff;
        width: 200px;
        display: block;
        margin-bottom: 20px;
        margin-top: -10px; }
      #footer-section.footer-section .footer-wrapper .social .social-icon {
        display: -ms-flex;
        display: -ms-flexbox;
        display: flex;
        width: 135px;
        -ms-flex-pack: justify;
            justify-content: space-between; }
        #footer-section.footer-section .footer-wrapper .social .social-icon i {
          color: #fff;
          font-size: 30px; }
  @media (max-width: 540px) {
    #footer-section.footer-section .footer-wrapper {
      -ms-flex-direction: column;
          flex-direction: column; }
      #footer-section.footer-section .footer-wrapper .social:first-child {
        margin-bottom: 40px; } }

.contact-section {
  display: -ms-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  font-family: 'PT Sans', sans-serif;
  overflow: hidden;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 5rem 0;
  margin-top: -25px;
  background-color: #fff; }
  .contact-section .contact-wrapper {
    -ms-flex-direction: column;
        flex-direction: column;
    width: 580px;
    display: -ms-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    opacity: 0; }
    .contact-section .contact-wrapper.show {
      opacity: 1;
      -webkit-animation: fadeInUp 1s;
              animation: fadeInUp 1s; }
    .contact-section .contact-wrapper h1 {
      font-size: 45px;
      transition: all ease-in-out .8s;
      opacity: 1;
      margin-bottom: 25px; }
    .contact-section .contact-wrapper h3 {
      font-size: 25px;
      font-weight: normal;
      margin-bottom: 35px;
      opacity: 1;
      transition: all ease-in-out .8s;
      color: rgba(0, 0, 0, 0.8); }
  @media (max-width: 750px) {
    .contact-section .contact-wrapper h1 {
      font-size: 35px; }
    .contact-section .contact-wrapper h3 {
      font-size: 22px;
      width: 500px;
      -ms-flex-item-align: center;
          align-self: center; } }
  @media (max-width: 570px) {
    .contact-section .contact-wrapper {
      width: 100%; }
      .contact-section .contact-wrapper h1 {
        margin-bottom: 10px; }
      .contact-section .contact-wrapper h3 {
        font-size: 19px;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        -ms-flex-item-align: center;
            align-self: center; } }
  .contact-section .form-wrapper {
    display: -ms-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    margin-bottom: 60px; }
    .contact-section .form-wrapper form {
      display: -ms-flex;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      width: 600px;
      -ms-flex-align: start;
          align-items: flex-start; }
      .contact-section .form-wrapper form .btn-enviar {
        line-height: 2.4rem;
        width: 200px;
        border-radius: 4px;
        border: 3px solid black;
        padding: 8px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        text-transform: capitalize;
        letter-spacing: 0.03em;
        cursor: pointer;
        transition: all 0.5s cubic-bezier(0.69, -0.03, 0.3, 0.83);
        text-align: center;
        border-radius: 4px;
        font-family: 'PT Sans', sans-serif;
        box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.19);
        margin-top: 20px;
        font-size: 17px;
        font-weight: bolder;
        display: block;
        position: relative;
        overflow: hidden;
        background-color: transparent;
        color: black; }
        .contact-section .form-wrapper form .btn-enviar:focus {
          outline: none; }
        .contact-section .form-wrapper form .btn-enviar:hover {
          color: #fff;
          z-index: 1; }
          .contact-section .form-wrapper form .btn-enviar:hover::before {
            margin-left: 0;
            z-index: -1; }
        .contact-section .form-wrapper form .btn-enviar::before {
          transition: all 0.45s cubic-bezier(0.69, -0.03, 0.3, 0.83);
          content: '';
          display: block;
          background-color: #000;
          position: absolute;
          width: 100%;
          top: 0;
          left: 0;
          height: 100%;
          margin-left: -100%; }
      .contact-section .form-wrapper form .input {
        position: relative;
        width: 100%; }
        .contact-section .form-wrapper form .input.active::after {
          -webkit-transform: scale(1);
                  transform: scale(1); }
        .contact-section .form-wrapper form .input textarea {
          min-height: 100px;
          resize: none; }
        .contact-section .form-wrapper form .input input[type="text"], .contact-section .form-wrapper form .input textarea {
          height: 40px;
          width: 100%;
          margin-top: 18px;
          padding: 5px 0;
          border: none;
          font-family: 'PT Sans', sans-serif;
          font-size: 17px; }
          .contact-section .form-wrapper form .input input[type="text"]:focus, .contact-section .form-wrapper form .input input[type="text"]:active, .contact-section .form-wrapper form .input textarea:focus, .contact-section .form-wrapper form .input textarea:active {
            outline: none; }
        .contact-section .form-wrapper form .input::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 3px;
          border-radius: 1px;
          background-color: rgba(0, 0, 0, 0.5);
          transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1.2); }
        .contact-section .form-wrapper form .input::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 3px;
          -webkit-transform: scale(0);
                  transform: scale(0);
          border-radius: 1px;
          background-color: black;
          transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1.2); }
  @media (max-width: 570px) {
    .contact-section .form-wrapper form {
      width: calc(100% - 20px);
      margin: 10px; } }
  @media (max-width: 420px) {
    .contact-section .form-wrapper form .btn-enviar {
      width: 100%; } }

body {
  background: white;
  transition: all ease-in-out .4s;
  position: relative;
  -webkit-font-smoothing: antialiased; }
